<nav class="navbar navbar-default navbar-fixed-top" style="background-color:transparent; padding:none; border-color:transparent; border:none;">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="navlink">
        <a class=""href="/#abtthe">ABOUT THE SUMMIT</a></li>
        <li class="navlink"><a class=""href="/#cioforum">CIO FORUM MEMBERS</a></li>
        <li class="navlink"><a class=""href="/#programsec">PROGRAM</a></li>

        <li class="dropdown navlink">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SPONSORS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  class="scroll"href="#spons-platinum">PLATINUM</a></li>
            <li><a  class="scroll"href="#spons-gold">GOLD</a></li>
            <li><a  class="scroll"href="#spons-silver">SILVER</a></li>
            <li><a  class="scroll"href="#spons-session">SESSION</a></li>
            <li><a  class="scroll"href="#spons-exhibit">EXHIBITORS</a></li>
          </ul>
        </li>
        <li class="navlink"><a href="/venue">VENUE</a></li>
         <li class="navlink"><a href="/giveaways">GIVEAWAYS</a></li>
        <li class="navlink"><a href="/venue">REGISTER</a></li>
      </ul>

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<section id="giveaways-head">
</section>
<section id="giveaways-categories">
<div id="" class="container-fluid cf4">
<div class="row" style="margin-top:-2.5vh;">
  <center>
    <div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
      <div class="aboutcardin">
        <div class="abimg" style="background-image:url('/assets/bred.png');">
          <div class="imgoverlay">
            <span class="aboutcardtitle" style="color:white!important;">
            <br>EARLY BIRD</span>
            
          </div>
        </div>
        
        <div class="textpadd">
        <span class="aboutcardtext">
          The early bird...
        </span>
        <center>
        </center>
        </div>
      </div>
    </div>
    <div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
      <div class="aboutcardin">
        <div class="abimg" style="background-image:url('/assets/participation.png');">
          <div class="imgoverlay">
            <span class="aboutcardtitle" style="color:white!important;">
            <br>SESSION PARTICIPATION</span>
            
          </div>
        </div>
        
        <div class="textpadd">
        <span class="aboutcardtext">
          The early bird...
        </span>
        <center>
        </center>
        </div>
      </div>
    </div>
    <div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
      <div class="aboutcardin">
        <div class="abimg" style="background-image:url('/assets/clover.png');">
          <div class="imgoverlay">
            <span class="aboutcardtitle" style="color:white!important;">
            <br>RAFFLE</span>
            
          </div>
        </div>
        
        <div class="textpadd">
        <span class="aboutcardtext">
          The early bird...
        </span>
        <center>
        </center>
        </div>
      </div>
    </div>
    <div class="col-md-3 aboutcard " data-wow-duration="2s" data-wow-delay="0s">
      <div class="aboutcardin">
        <div class="abimg" style="background-image:url('/assets/bred.png');">
          <div class="imgoverlay">
            <span class="aboutcardtitle" style="color:white!important;">
            <br>LOOT</span>
            
          </div>
        </div>
        
        <div class="textpadd">
        <span class="aboutcardtext">
          The early bird...
        </span>
        <center>
        </center>
        </div>
      </div>
    </div>

    </center>
</div>
</div>
</section>