<link rel="stylesheet" href="css/animate.css">
<section id="landing">
<div id="overlay">

	<center><%=image_tag ('/assets/logo-e.png'),:style=>"width:50vw; margin-top:14vh;"%>
	<br><br>
	<div class="btn regbtn blink_me">REGISTER</div>
	</center>

</div>

</section>
<section id="indexa2 ">
<div class="container-fluid cf2">
<br><br>
<center><span id="index1title">About the Summit</span>
<br><br>
<div style="width:60vw;">
<span id="index1text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet bibendum sem. Suspendisse quis fringilla augue. Nam sagittis sagittis blandit. Suspendisse vitae vestibulum sapien. Phasellus a fringilla nisl. Duis commodo tincidunt sollicitudin. Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.</span></div>
</center>
	<div class="row">
	<center>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-gigi.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;"><b>Maria Angelica B. Rapadas</b><br>Ayala Corporation</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-vivien1.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;"><b>Vivien V. Villa-Real</b><br>Ayala Corporation</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-erwin1.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;"><b>Erwin P. Locsin</b><br>Ayala Foundation</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				</div>
			</div>		
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-annie.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;"><b>Annie T. Alipao</b><br>Ayala Land</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-gabo1.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;"><b>Gabo Tuason</b><br>Manila Water</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-pebble.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;"><b>Pebbles L. Sy-Manalang</b><br>Globe Telecom</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-macjune.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;"><b>Macjune Tolentino</b><br>HRmall</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-mar.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;"><b>Marino Adriano P. Encarnacion</b><br>Auto</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				</div>
			</div>
		</div>
		</center>
	</div>
	</div>
</section>

<section id="programsec">

<div class='tab'>
  <table border='0' cellpadding='0' cellspacing='0'>
    <tr class='days'>
      <th></th>
      <th colspan="8">SCHEDULE</th>

    </tr>
    <tr>
      <td class='time'>7:30 - 8:30</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [JH1]</td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>8:30 - 8:35</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [JH1]</td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>8:35 - 8:40</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [JH1]</td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>8:40 - 9:00</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [JH1]</td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>9:00 - 9:20</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [JH1]</td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td style="background-color:#212121;"></td>

      <td style="background-color:#F44336;"colspan="8">BREAKOUT SESSIONS</td>

    </tr>
    <tr>
      <td style="background-color:#212121;"> Function Rooms</td>
      <td style="background-color:#212121;">Sulu</td>
      <td style="background-color:#212121;">Dapitan</td>
      <td style="background-color:#212121;">Bohol</td>
      <td style="background-color:#212121;">Lubang</td>
      <td style="background-color:#212121;">Mactan1</td>
      <td style="background-color:#212121;">Mactan2</td>
      <td style="background-color:#212121;">Batanes1</td>
      <td style="background-color:#212121;">Batanes2</td>
    </tr>
    <tr>
      <td class='time'>9:30 - 10:30</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [JH1]</td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>10:45 - 11:45</td>
      <td></td>
      <td class='cs335 blue lab' data-tooltip='Software Engineering &amp; Software Process'>CS335 [Lab]</td>
      <td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>11:45 - 12:45</td>
      <td colspan="8" class='lunch blue'>LUNCH BREAK</td>
    </tr>
    <tr>
      <td class='time'>1:00 - 2:00</td>
      <td></td>
      <td class='md303 navy' data-tooltip='Media &amp; Globalisation'>MD303 [CS2]</td>
      <td class='md313 red' data-tooltip='Special Topic: Multiculturalism &amp; Nationalism'>MD313 [Iontas]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>2:15 - 3:15</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>3:30 - 4:30</td>
      <td></td>
      <td></td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS2]</td>
      <td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [TH1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>4:30 - 5:30</td>
      <td></td>
      <td></td>
      <td></td>
      <td class='cs240 orange lab' data-tooltip='Operating Systems'>CS240 [Lab]</td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    
  </table>
</div>
</section>

<div id="particles-js">
	<center>
	<br><br><br><br>
	</center>
</div>

<!-- scripts -->
<script src="assets/particles.js"></script>
<script src="assets/app.js"></script>
  <script src="/assets/wow.min.js"></script>
  <script>
  new WOW().init();
  </script> 

