<link rel="stylesheet" href="css/animate.css">
<section id="landing">
<div id="overlay">

	<center><%=image_tag ('/assets/logo-e.png'),:style=>"width:50vw; margin-top:14vh;"%>
	<br><br>
	<div class="btn regbtn blink_me">REGISTER</div>
	</center>

</div>

</section>
<section id="indexa2 ">
<div class="container-fluid cf2">
<br><br>
<center><span id="index1title">About the Summit</span>
<br><br>
<div style="width:60vw;">
<span id="index1text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet bibendum sem. Suspendisse quis fringilla augue. Nam sagittis sagittis blandit. Suspendisse vitae vestibulum sapien. Phasellus a fringilla nisl. Duis commodo tincidunt sollicitudin. Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.</span></div>
</center>
	<div class="row">
	<center>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-gigi.jpg');">
					<div class="imgoverlay"></div>
				</div>
				<br>
				<span class="aboutcardtitle"><b>Vivien Villa-Real</b> <br>Ayala Corporation</span><br>
				<span class="aboutcardtext">
					
				</span>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-vivien.jpg');">
					<div class="imgoverlay"></div>
				</div>
				<br>
				<span class="aboutcardtitle"><b>Vivien Villa-Real</b> <br>Ayala Corporation</span><br>
				<span class="aboutcardtext">
					
				</span>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-erwin.jpg');"><div class="imgoverlay"></div></div>
				<br>
				<span class="aboutcardtitle"><b>Erwin Locsin</b><br>Ayala Foundation</span><br>
				<span class="aboutcardtext">
				</span>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="2s">
			<div class="aboutcardin">
				<div class="abimg"style="background-image:url('/assets/cio-annie.jpg');"><div class="imgoverlay"></div></div>
				<br>
				<span class="aboutcardtitle"><b>Annie Alipao</b><br>Ayala Land</span><br>
				<span class="aboutcardtext">
				</span>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="3s">
			<div class="aboutcardin">
				<div class="abimg"style="background-image:url('/assets/cio-gabo.jpg');"><div class="imgoverlay"></div></div>
				<br>
				<span class="aboutcardtitle"><b>Gabo Tuason</b><br>Manila Water</span><br>
				<span class="aboutcardtext">
				</span>
			</div>
		</div>
		</center>
	</div>
	</div>
</section>

<section id="index3">
<br><br>
<center><span id="index1title">Program</span></center>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Arrival and Registration of Guests</h4>
        </div>
         <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">9:00 AM</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Welcome Remarks</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>
      </div>
      <br>
      <h4 class="timeline-titlerd">10:00 AM</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">Keynote Speaker 1</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">10:15 AM</h4>
    </li>
        <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Morning Breakout Sessions</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>
      </div>
      <br>
      <h4 class="timeline-titlerd">10:30 AM - 12:30 PM</h4>
    </li>
     <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">Lunch</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">12:30 PM</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Afternoon Breakout Sessions</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">1:30 PM - 5:30 PM</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">Keynote Speaker 2</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">5:30 PM</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Keynote Speaker 3</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">6:00 PM</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">Recognition of Sponsors</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">6:20 PM</h4>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Closing Remarks</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">6:30 PM</h4>
    </li>
    <li>
      <div class="timeline-badge"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"style="text-align:right;">Ramp and Rock Band</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>

      </div>
      <br>
        <h4 class="timeline-titled">6:35 PM</h4>
    </li><li class="timeline-inverted">
      <div class="timeline-badge warning"><i class=""></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-titler">Spoti-oke Competition</h4>
        </div>
        <div class="timeline-heading1">
          <h4 class="timeline-title" style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
        </div>
        
      </div>
      <br>
      <h4 class="timeline-titlerd">6:50 PM</h4>
    </li>

  </ul>
</section>

<section>
	
</section>

<div id="particles-js">
	<center>
	<br><br>
	</center>
</div>

<!-- scripts -->
<script src="assets/particles.js"></script>
<script src="assets/app.js"></script>
  <script src="/assets/wow.min.js"></script>
  <script>
  new WOW().init();
  </script> 

