<link rel="stylesheet" href="css/animate.css">
<section id="landing">
<div id="overlay">

	<center><%=image_tag ('/assets/logo-e.png'),:style=>"width:50vw; margin-top:14vh;"%>
	<br><br>
	<div class="btn regbtn blink_me">REGISTER</div>
	</center>

</div>

</section>
<section id="indexa2 ">
<div class="container-fluid cf2">
<br><br>
<center><span id="index1title">About the Summit</span>
<br><br>
<div style="width:60vw;">
<span id="index1text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet bibendum sem. Suspendisse quis fringilla augue. Nam sagittis sagittis blandit. Suspendisse vitae vestibulum sapien. Phasellus a fringilla nisl. Duis commodo tincidunt sollicitudin. Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.</span></div>
</center>
	<div class="row">
	<center>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-gigi.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Maria Angelica B. Rapadas<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>Ayala Corporation</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					<i>What do you love most about being an IT practitioner?</i>&nbsp
       				The opportunity, actually the need, to learn continuously. The pace of technology requires that we keep up; this could be tiring but also exhilarating. Also, my kids think I have a "cool" job!

       				<i>If in another lifetime you would have the chance to pursue another career or passion instead of being an IT practitioner, what would that be?</i>&nbsp
       				I would be a pastry chef, with my own high-end bake shop cum cafe in Paris.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-vivien1.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Vivien V. Villa-Real<br></span>
						<span class="aboutcardsubtitle">ICT Operations Manager<br>Ayala Corporation</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					I really like my job as an ICT practitioner because it puts me on the forefront of new developments in technology which is constantly changing. Because of this, the job never gets boring and there is the added benefit that my kids think they have a cool mom!   If I had a chance to live my life again, I think I would have ended up working for a multilateral relief agency like UNICEF or even one of the local NGOs that help in poverty alleviation and empowerment, especially for street children. I really have a soft spot for kids and it would make my life even more meaningful if I was able to help make the lives of disadvantaged children better and give them a chance for a brighter future...
				</span>
				<center>
				<div class="btn readmore">
					Read More
				</div>
				</center>
				</div>
			</div>
		</div>
				<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-annie.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Annie T. Alipao<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>Ayala Land Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					<i>What do you love most about being an IT practitioner?</i>&nbsp
       				
					Being able to transform your creativity to reality by implementing innovation and re-engineering through the use of technology in your workplace.

       				<i>If in another lifetime you would have the chance to pursue another career or passion instead of being an IT practitioner, what would that be?</i>&nbsp

       				Either i will be a medical doctor or I would be on the creative field.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-rod.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Roderick I. Villahermosa<br></span>
						<span class="aboutcardsubtitle">Infrastructure Manager<br>Ayala Land Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-pebble.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Pebbles L. Sy-Manalang<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>Globe Telecom Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					I love my work because it gives me the opportunity to work with technology to change people's lives for the better.  But in another life, I would have gotten a Law degree and been an advocate for a worthwhile cause. I would still travel the world though, document my journeys and go on culinary adventures. Food photography is one of my hobbies. Traveling provides me the best backdrops; not to mention the perfect opportunities to indulge the foodie in me.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-gabo1.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Gabriel V. Tuason<br></span>
						<span class="aboutcardsubtitle">Head, Information Security<br>Manila Water Company Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					The best part about being in IT is that it allows us to bring innovative services to our respective businesses by deploying technology and processes.  
					<br>
					In another lifetime, I would have pursued a career in the legal world or the military service.  
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-erwin1.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Erwin P. Locsin<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>Ayala Foundation</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Donec porta sed sem auctor elementum. Phasellus posuere sapien et pretium hendrerit. Integer facilisis ex vitae malesuada condimentum. Ut eget molestie felis. Fusce ullamcorper velit sed nunc porttitor, sed finibus lacus posuere.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>		
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-macjune.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Macjune D. Tolentino<br></span>
						<span class="aboutcardsubtitle">Technical Director<br>HRmall</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					I love to be in the forefront of technology and being always in the know of the latest technological trends in the market.  I find that there's some sort of thrill and adventure in it.   If, however, I'm not in the field of IT, I would probably be a photographer... maybe a photo journalist.  I love to document things, particularly people, culture, and places.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-mar.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Marino Adriano P. Encarnacion<br></span>
						<span class="aboutcardsubtitle">Chief Information Officer<br>AC Automotive Business Services Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					As an IT practitioner, I love helping people and solving IT-related business problems.  The more complex the problem the more satisfying it gets.  During the younger days, it was the analytical thinking required in application development, systems administration and technical support.  <br> 
					If not IT, I would have pursued a career in renewable energy, or automotive design, or human kinetics.  The first one relates to my passion for scientific thinking, the second one for artistic pursuits and craftsmanship and the last one for love of sports and athleticism.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-gerard.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Gerard R. Estrada<br></span>
						<span class="aboutcardsubtitle">IT Head for Energy & Infra Group<br>AC Energy Holdings Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					I love being an IT practitioner because knowing and working with the latest technology is part of the job. Also, I enjoy making technology work for people.
					In another lifetime, I would probably pursue a career in medicine. I come from a family of doctors and always have this curiosity to understand ailments and corresponding medication. I can see myself fulfilled  in serving patients and making their lives better.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-suzette.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Suzette B. Taala<br></span>
						<span class="aboutcardsubtitle">IT Head<br>Affordable Private Education Center</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					What I love most about being an IT practitioner is the opportunity to learn new things every day because technology is constantly evolving. In addition, people/companies are evolving as far as their needs / requirements for technology so it keeps the life of an IT practitioner interesting and challenging.  If given a chance to pursue a passion, I would study and practice to become a certified yoga teacher.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-rosalyn.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Rosalyn O. Teosoro<br></span>
						<span class="aboutcardsubtitle">Global Chief Information Officer<br>Integrated Micro-Electronics Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					What I love most about being an IT practitioner is the opportunity to learn new things every day because technology is constantly evolving. In addition, people/companies are evolving as far as their needs / requirements for technology so it keeps the life of an IT practitioner interesting and challenging.  If given a chance to pursue a passion, I would study and practice to become a certified yoga teacher. <br>
					I enjoy being an IT practitioner because of the constant learning and is never boring.  If given a chance to pursue another career, I’d probably be somebody in the field of medicine.  I had fun role-playing during my younger years either being a dentist or a doctor.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>
		</div>
		<div class="col-md-3 aboutcard wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
			<div class="aboutcardin">
				<div class="abimg" style="background-image:url('/assets/cio-olive.jpg');">
					<div class="imgoverlay">
						<span class="aboutcardtitle" style="color:white!important;">Olive S. Garcia<br></span>
						<span class="aboutcardsubtitle">Manager, Information Systems<br>Isuzu Automotive Dealership Inc.</span>
					</div>
				</div>
				
				<div class="textpadd">
				<span class="aboutcardtext">
					Knowing that each innovation has the potential of improving lives makes technology one of the most exciting industries to work in.
					<br>
					But given the chance in another lifetime, I would probably be a nurse as this was my first choice and was about to enrol in college.
					<br>
					I love taking care of people and see them enjoy life to the full.
				</span>
				<center>
					<div class="btn readmore">
						Read More
					</div>
				</center>
				</div>
			</div>		
		</div>
		</center>
	</div>
	</div>
</section>

<section id="programsec">
<table border='0' cellpadding='0' cellspacing='0'>
    <tr class='days'>
      <th id="thb"></th>
      <th id="thsc"colspan="8">SCHEDULE</th>
    </tr>
    <tr>
      <td class='time'>7:30 - 8:30</td>
      <td colspan="8" style="background-color:#E3F2FD;"><span style="color:#212121;">REGISTRATION</span></td>
    </tr>
    <tr>
      <td class='time'>8:30 - 8:35</td>
      <td colspan="8" style="background-color:#BBDEFB;"><span style="color:#212121;">NATIONAL ANTHEM AND INVOCATION</span></td>
    </tr>
    <tr>
      <td class='time'>8:35 - 8:40</td>
      <td colspan="8" style="background-color:#90CAF9;"><span style="color:#212121;">WELCOME REMARKS</span></td>
    </tr>
    <tr>
      <td class='time'>8:40 - 9:00</td>
      <td colspan="8" style="background-color:#64B5F6;"><span style="color:#212121;">OPENING MESSAGE</span></td>
    </tr>
    <tr>
      <td class='time'>9:00 - 9:20</td>
      <td colspan="8" style="background-color:#42A5F5;"><span style="color:#212121;">KEYNOTE ADDRESS</span></td>
    </tr>
    <tr>
      <td style="background-color:#212121;"></td>

      <td style="background-color:#F44336;"colspan="8">BREAKOUT SESSIONS</td>

    </tr>
    <tr>
      <td style="background-color:#212121;"> Function Rooms</td>
      <td style="background-color:#212121;">Sulu</td>
      <td style="background-color:#212121;">Dapitan</td>
      <td style="background-color:#212121;">Bohol</td>
      <td style="background-color:#212121;">Lubang</td>
      <td style="background-color:#212121;">Mactan1</td>
      <td style="background-color:#212121;">Mactan2</td>
      <td style="background-color:#212121;">Batanes1</td>
      <td style="background-color:#212121;">Batanes2</td>
    </tr>
    <tr>
      <td class='time'>9:30 - 10:30</td>
      <td class='cs335 blue' data-tooltip='Software Engineering &amp; Software Process'>CS335 [JH1]</td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>10:45 - 11:45</td>
      <td></td>
      <td class='cs335 blue lab' data-tooltip='Software Engineering &amp; Software Process'>CS335 [Lab]</td>
      <td class='md352 green' data-tooltip='Multimedia Production &amp; Management'>MD352 [Kairos]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>11:45 - 12:45</td>
      <td colspan="8" class='lunch blue'>LUNCH BREAK</td>
    </tr>
    <tr>
      <td class='time'>1:00 - 2:00</td>
      <td></td>
      <td class='md303 navy' data-tooltip='Media &amp; Globalisation'>MD303 [CS2]</td>
      <td class='md313 red' data-tooltip='Special Topic: Multiculturalism &amp; Nationalism'>MD313 [Iontas]</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>2:15 - 3:15</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class='time'>3:30 - 4:30</td>
      <td></td>
      <td></td>
      <td class='cs426 purple' data-tooltip='Computer Graphics'>CS426 [CS2]</td>
      <td class='cs240 orange' data-tooltip='Operating Systems'>CS240 [TH1]</td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td id="thbl"class='time'>4:30 - 5:30</td>
      <td id="thbr" style="background-color:#1976D2;"colspan="8">CLOSING REMARKS / ACTIVITY AND RAFFLE</td>
    </tr>
    
  </table>
</section>
<div id="footer-top">
<center>
<span id="register">REGISTER</span>
</center>
</div>
<div id="particles-js">
	<div class="row">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			<span id="developedby">Developed by Enzo Bautista</span>
		</div>
	</div>
	<center>
	<br><br>
	</center>
</div>

<!-- scripts -->
<script src="assets/particles.js"></script>
<script src="assets/app.js"></script>
  <script src="/assets/wow.min.js"></script>
  <script>
  new WOW().init();
  </script> 

