<section id="spons-head">
</section>
<section id="spons-platinum">
	<center>
		<span class="sponsheader">PLATINUM SPONSORS</span>
	</center>
</section>
<section id="spons-gold">
	<center>
		<span class="sponsheader">GOLD SPONSOR</span>
	</center>
</section>
<section id="spons-silver">
	<center>
		<span class="sponsheader">SILVER SPONSORS</span>
	</center>
</section>
<section id="spons-session">
	<center>
		<span class="sponsheader">SESSION SPONSORS</span>
	</center>
</section>
<section id="spons-exhibit">
	<center>
		<span class="sponsheader">EXHIBIT SPONSORS</span>
	</center>
</section>